@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: rgb(17 24 39 / var(--tw-bg-opacity, 1))
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(17 24 39 / var(--tw-bg-opacity, 1));
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
  font-family: Arial, Helvetica, sans-serif;
}
